docker/flows.json
[
    {
        "id": "dde4651c182ef1ed",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3cfe8694a710ed3b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.20.31.223",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "98080f96533caab2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "925597c527a6a902",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "01c7be0698d1b3fd",
        "type": "ui_tab",
        "name": "Contadores",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "011e845c3c795c2f",
        "type": "ui_group",
        "name": "Grafico",
        "tab": "01c7be0698d1b3fd",
        "order": 1,
        "disp": false,
        "width": 21,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96baef3eb3c96626",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa0c50e84e436bb3",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "eee3e3442c73f107",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2fa1a81eef65af1",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "b65595184dfd66bf",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "d9e2b53481035e17",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e2411d09e18b8a0",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "c3caa22d9903c7d8",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "39aaf87a74c8d76f",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "4647ea0d76d4f805",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "522d8c28c3db8304",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "102a20139a073c45",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "0a0a8c7098135890",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9d9543ac2ed1a51",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "48569c20d9e2d645",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "864b04ab5c0b0001",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c75c074d36ff463",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 27,
        "width": 2,
        "height": 1
    },
    {
        "id": "483d8c3dd4266f16",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "9dc636734cc711b1",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "0ac5289d5d852eb5",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "5a6f54c1a9385c30",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "73b6cde48f779b6a",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "d446a426b725f788",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "53c939d42f43700c",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "8161713dd7fa327f",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac2ee2b23c6a7ea1",
        "type": "ui_spacer",
        "z": "dde4651c182ef1ed",
        "name": "spacer",
        "group": "011e845c3c795c2f",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "10680e0935f35743",
        "type": "ui_numeric",
        "z": "dde4651c182ef1ed",
        "name": "",
        "label": "Volumen Total (L)",
        "tooltip": "",
        "group": "011e845c3c795c2f",
        "order": 5,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "9999",
        "step": "0.01",
        "className": "",
        "x": 430,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "82d9e4b1e2381cf7",
        "type": "ui_gauge",
        "z": "dde4651c182ef1ed",
        "name": "",
        "group": "011e845c3c795c2f",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Flujo",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "613c457f9fa0942d",
        "type": "mqtt in",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/01/volumen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cfe8694a710ed3b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 60,
        "wires": [
            [
                "10680e0935f35743"
            ]
        ]
    },
    {
        "id": "1d1823980627b233",
        "type": "mqtt in",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/01/flujo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cfe8694a710ed3b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "82d9e4b1e2381cf7"
            ]
        ]
    },
    {
        "id": "0c0016a92e7820da",
        "type": "ui_slider",
        "z": "dde4651c182ef1ed",
        "name": "",
        "label": "Valvula (%)",
        "tooltip": "",
        "group": "011e845c3c795c2f",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "1de9c969e5f7dc98",
                "4b504c347a5160eb"
            ]
        ]
    },
    {
        "id": "1de9c969e5f7dc98",
        "type": "ui_text",
        "z": "dde4651c182ef1ed",
        "group": "011e845c3c795c2f",
        "order": 17,
        "width": 1,
        "height": 1,
        "name": "valor valvula",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "4b504c347a5160eb",
        "type": "mqtt out",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "valvula/01/valor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cfe8694a710ed3b",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "4544b18314190aae",
        "type": "ui_numeric",
        "z": "dde4651c182ef1ed",
        "name": "",
        "label": "Volumen Total (L)",
        "tooltip": "",
        "group": "011e845c3c795c2f",
        "order": 24,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "9999",
        "step": "0.01",
        "className": "",
        "x": 1190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "1d7872aad0df8905",
        "type": "ui_gauge",
        "z": "dde4651c182ef1ed",
        "name": "",
        "group": "011e845c3c795c2f",
        "order": 28,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Flujo",
        "label": "L/min",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "2cad3a0c6ab8ca4a",
        "type": "mqtt in",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/02/volumen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cfe8694a710ed3b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 940,
        "y": 60,
        "wires": [
            [
                "4544b18314190aae"
            ]
        ]
    },
    {
        "id": "6a451f84cf6c821e",
        "type": "mqtt in",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/02/flujo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3cfe8694a710ed3b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "1d7872aad0df8905"
            ]
        ]
    },
    {
        "id": "d3ea3da47e1a8b16",
        "type": "ui_slider",
        "z": "dde4651c182ef1ed",
        "name": "",
        "label": "Valvula (%)",
        "tooltip": "",
        "group": "011e845c3c795c2f",
        "order": 37,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 910,
        "y": 180,
        "wires": [
            [
                "3ffdbf9e9b1332e8",
                "5aa16f1ea3399b50"
            ]
        ]
    },
    {
        "id": "3ffdbf9e9b1332e8",
        "type": "ui_text",
        "z": "dde4651c182ef1ed",
        "group": "011e845c3c795c2f",
        "order": 38,
        "width": 1,
        "height": 1,
        "name": "valor valvula",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "5aa16f1ea3399b50",
        "type": "mqtt out",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "valvula/02/valor",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cfe8694a710ed3b",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "b555a1a1ada91f99",
        "type": "function",
        "z": "dde4651c182ef1ed",
        "name": "Query",
        "func": "const rango = msg.payload['fecha'];\nconst valor = msg.payload['valor'];\n//var rango = 'start: 2024-05-22T11:33:00Z, stop: 2024-05-22T11:38:00Z';\n//var rango = 'start: 2024-05-23T10:02:00Z, stop: 2024-05-23T10:07:00Z';\n//var rango = 'start: -1m'\nmsg.query = 'from(bucket: \"consumo_agua\")' +\n    ' |> range(' + rango + ')' +\n    ' |> filter(fn: (r) => r[\"_measurement\"] == \"mqtt_consumer\")' +\n    ' |> filter(fn: (r) => r[\"_field\"] == \"value\")' +\n    ' |> filter(fn: (r) => r[\"host\"] == \"consumo_agua\")' +\n    ' |> filter(fn: (r) => r[\"topic\"] == \"'+valor+'\")';\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 480,
        "wires": [
            [
                "2cba8357c13f03ef",
                "0aee98d080081a7b"
            ]
        ]
    },
    {
        "id": "2cba8357c13f03ef",
        "type": "influxdb in",
        "z": "dde4651c182ef1ed",
        "influxdb": "925597c527a6a902",
        "name": "InfluxDB",
        "query": "",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "udc",
        "x": 880,
        "y": 600,
        "wires": [
            [
                "50394251c52c4dd4"
            ]
        ]
    },
    {
        "id": "50394251c52c4dd4",
        "type": "function",
        "z": "dde4651c182ef1ed",
        "name": "function 2",
        "func": "var data = msg.payload;\nvar chartData = [];\n\nfor (var i = 0; i < data.length; i++) {\n  var point = data[i];\n  if (point._time && point._value !== undefined) {\n    chartData.push({\n      x: new Date(point._time).getTime(),\n      y: point._value\n    });\n  }\n}\n\nmsg.payload = [{\n    series: [\"Valor\"],\n    data: [chartData],\n    labels: [\"\"]\n}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 600,
        "wires": [
            [
                "b6be8b33a5405f76",
                "be885f1b64564e35"
            ]
        ]
    },
    {
        "id": "b6be8b33a5405f76",
        "type": "ui_chart",
        "z": "dde4651c182ef1ed",
        "name": "",
        "group": "011e845c3c795c2f",
        "order": 1,
        "width": 14,
        "height": 10,
        "label": "Grafico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ce533f10e3f920bf",
        "type": "ui_template",
        "z": "dde4651c182ef1ed",
        "group": "011e845c3c795c2f",
        "name": "Custom Form",
        "order": 30,
        "width": 14,
        "height": 5,
        "format": "<style>\n    .form-container {\n        display: flex;\n        flex-direction: column;\n        align-items: flex-start;\n    }\n\n    .form-row {\n        display: flex;\n        align-items: center;\n        margin-bottom: 10px;\n    }\n\n    .form-row p {\n        margin: 0 10px 0 0;\n        min-width: 60px;\n    }\n\n    .form-row input {\n        margin: 0 10px;\n    }\n\n    .select {\n        margin: 0 10px;\n    }\n</style>\n<div class=\"form-container\">\n    <div class=\"form-row\">\n        <p>Ultimos</p>\n        <select class=\"select\" id=\"intervalSelect\">\n            <option value=\"1m\">1 min</option>\n            <option value=\"3m\">3 min</option>\n            <option value=\"5m\">5 min</option>\n            <option value=\"10m\">10 min</option>\n            <option value=\"30m\">30 min</option>\n            <option value=\"1h\">1 hs</option>\n        </select>\n        <button id=\"lastButton\">Graficar</button>\n    </div>\n    <div class=\"form-row\">\n        <p>Inicio</p>\n        <input type=\"date\" id=\"startDate\">\n        <input type=\"time\" id=\"startTime\" name=\"appt\">\n    </div>\n    <div class=\"form-row\">\n        <p>Fin</p>\n        <input type=\"date\" id=\"stopDate\">\n        <input type=\"time\" id=\"stopTime\" name=\"appt\">\n    </div>\n    <button id=\"customButton\">Graficar</button>\n</div>\n<script>\n    (function(scope) {\n        // Función para formatear la fecha y hora a valores adecuados para los inputs\n        function formatDate(date) {\n            return date.toISOString().split('T')[0];\n        }\n\n        function formatTime(date) {\n            return date.toTimeString().split(' ')[0].substring(0, 5);\n        }\n\n        // Obtener la fecha y hora actuales\n        var now = new Date();\n        // Calcular 5 minutos antes de la fecha y hora actuales\n        var fiveMinutesAgo = new Date(now.getTime() - 5 * 60000);\n\n        // Establecer la fecha y hora actuales por defecto\n        document.getElementById('stopDate').value = formatDate(now);\n        document.getElementById('stopTime').value = formatTime(now);\n\n        // Establecer la fecha y hora de inicio por defecto (5 minutos antes)\n        document.getElementById('startDate').value = formatDate(fiveMinutesAgo);\n        document.getElementById('startTime').value = formatTime(fiveMinutesAgo);\n\n        document.getElementById('customButton').onclick = function() {\n            var startDate = document.getElementById('startDate').value;\n            var startTime = document.getElementById('startTime').value;\n            var stopDate = document.getElementById('stopDate').value;\n            var stopTime = document.getElementById('stopTime').value;\n            scope.send({payload: {type:'interval',startDate: startDate, startTime: startTime, stopDate: stopDate, stopTime: stopTime}});\n        };\n\n        document.getElementById('lastButton').onclick = function() {\n            var selectedInterval = document.getElementById('intervalSelect').value;\n            scope.send({payload: {type:'last',time:selectedInterval}});\n        };\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "4bd6d1bd1f987b2d"
            ]
        ]
    },
    {
        "id": "4bd6d1bd1f987b2d",
        "type": "function",
        "z": "dde4651c182ef1ed",
        "name": "Convertir",
        "func": "const dato = msg.payload;\nlet nuevoMsg = 'start: -5m';\n\nif (dato['type'] === 'last') {\n    nuevoMsg = \"start: -\" + dato['time'];\n} else if (dato['type'] === 'interval') {\n    const startDate = new Date(dato.startDate + 'T' + dato.startTime);\n    const stopDate = new Date(dato.stopDate + 'T' + dato.stopTime);\n\n    // Convertir las fechas y horas a UTC\n    const startDateUTC = startDate.toISOString();\n    const stopDateUTC = stopDate.toISOString();\n\n    // Construir el nuevo mensaje con las fechas y horas en UTC\n    nuevoMsg = 'start: ' + startDateUTC + ', stop: ' + stopDateUTC;\n}\n\nmsg.payload = nuevoMsg;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 440,
        "wires": [
            [
                "1583f7f347f164aa"
            ]
        ]
    },
    {
        "id": "9dc5b4437c5cb3ec",
        "type": "ui_text",
        "z": "dde4651c182ef1ed",
        "group": "011e845c3c795c2f",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Contador 1",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "7c64eea41218cf95",
        "type": "ui_text",
        "z": "dde4651c182ef1ed",
        "group": "011e845c3c795c2f",
        "order": 22,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Contador 2",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1430,
        "y": 140,
        "wires": []
    },
    {
        "id": "aa2e12c28cb3d5c4",
        "type": "ui_dropdown",
        "z": "dde4651c182ef1ed",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "011e845c3c795c2f",
        "order": 26,
        "width": 14,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Flujo Contador 1",
                "value": "contador/01/flujo",
                "type": "str"
            },
            {
                "label": "Volumen Contador 1",
                "value": "contador/01/volumen",
                "type": "str"
            },
            {
                "label": "Flujo Contador 2",
                "value": "contador/02/flujo",
                "type": "str"
            },
            {
                "label": "Volumen Contador 2",
                "value": "contador/02/volumen",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "0caeb7efa904969a"
            ]
        ]
    },
    {
        "id": "1583f7f347f164aa",
        "type": "change",
        "z": "dde4651c182ef1ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "part",
                "pt": "msg",
                "to": "fecha",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 440,
        "wires": [
            [
                "b859faee883f5fc1"
            ]
        ]
    },
    {
        "id": "0caeb7efa904969a",
        "type": "change",
        "z": "dde4651c182ef1ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "part",
                "pt": "msg",
                "to": "valor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "b859faee883f5fc1"
            ]
        ]
    },
    {
        "id": "b859faee883f5fc1",
        "type": "join",
        "z": "dde4651c182ef1ed",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "part",
        "joiner": "",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "b555a1a1ada91f99"
            ]
        ]
    },
    {
        "id": "425be92118e5f8f4",
        "type": "mqtt out",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/01/reset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cfe8694a710ed3b",
        "x": 450,
        "y": 320,
        "wires": []
    },
    {
        "id": "73a79b5c12eb8b6b",
        "type": "mqtt out",
        "z": "dde4651c182ef1ed",
        "name": "",
        "topic": "contador/02/reset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3cfe8694a710ed3b",
        "x": 1190,
        "y": 320,
        "wires": []
    },
    {
        "id": "b0d789d651644cd6",
        "type": "ui_button",
        "z": "dde4651c182ef1ed",
        "name": "",
        "group": "011e845c3c795c2f",
        "order": 19,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "425be92118e5f8f4"
            ]
        ]
    },
    {
        "id": "d22ab5208205905b",
        "type": "ui_button",
        "z": "dde4651c182ef1ed",
        "name": "",
        "group": "011e845c3c795c2f",
        "order": 40,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": " ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 930,
        "y": 320,
        "wires": [
            [
                "73a79b5c12eb8b6b"
            ]
        ]
    },
    {
        "id": "0aee98d080081a7b",
        "type": "debug",
        "z": "dde4651c182ef1ed",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 460,
        "wires": []
    },
    {
        "id": "be885f1b64564e35",
        "type": "debug",
        "z": "dde4651c182ef1ed",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 500,
        "wires": []
    }
]